@model Paginate<ProductListVM>
@{
    ViewData["Title"] = "Index";
    int count = 1;

}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Categories</h4>

            <div class="row">
                <div class="col-sm-12 d-flex justify-content-end">
                    <a class="btn btn-success" asp-controller="Product" asp-action="Create">Create Product</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Count</th>

                            <th>Settings</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Models)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@product.Name</td>
                                <td>
                                    <img src="~/img/@product.Photo" style="height:200px ; width:200px" alt="Alternate Text" />
                                </td>
                                <td>@product.Price</td>
                                <td>@product.Conut</td>


                                <td>
                                    <a class="btn btn-info " asp-action="Detail" asp-route-id="@product.Id">
                                        <i class="mdi mdi-eye"></i>
                                    </a>
                                    <a class="btn btn-success " asp-action="Update" asp-route-id="@product.Id">
                                        <i class="mdi mdi-table-edit"></i>
                                    </a>
                                    <a class="btn btn-danger " asp-action="Delete" asp-route-id="@product.Id">
                                        <i class="mdi mdi-delete-variant"></i>
                                    </a>
                                </td>
                            </tr>
                            count++;
                        }


                    </tbody>
                </table>
            </div>
        </div>

        <div class=" d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">


                    @{
                        const int PageLeft = 1;
                        const int PagesRight = 1;


                        var fromPage = Math.Max(1, Model.CurrentPage - PageLeft);
                        var toPage = Math.Min(Model.PageCount, Model.CurrentPage + PagesRight);


                    }
                    
                    
                    <li class="page-item @(Model.CurrentPage==1?"disabled":"")">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)"><i class="fas fa-chevron-left"></i></a>
                    </li>

                    @if (fromPage > 1)
                    {

                        <li class="page-item ">
                            <a class="page-link" asp-action="Index" asp-route-page="1">1</a>
                        </li>
                        if (fromPage > 2)
                        {

                            <li class="page-item">
                                <a class="page-link">...</a>
                            </li>
                        }
                    }

                    @for (int i = fromPage; i <= toPage; i++)
                    {
                        <li class="page-item @(Model.CurrentPage==i?"active":"")">
                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }

                    @if (toPage < Model.PageCount)
                    {

                        <li>
                            <a class="page-link">...</a>
                        </li>

                        if (toPage < Model.PageCount + 1)
                        {
                            <li>
                                <a class="page-link" asp-action="Index" asp-route-page="@Model.PageCount">@Model.PageCount</a>
                            </li>
                        }

                    }

                    <li class="page-item @(Model.CurrentPage==Model.PageCount?"disabled":"")">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)"><i class="fas fa-chevron-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>



