@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<main>

    <!-- SLIDER START -->

    <section id="slider">
        <div class="owl-carousel slider">
            @foreach (var slider in Model.Sliders)
            {
                <div> <img src="~/img/@slider.Image" alt=""> </div>
            }


        </div>
        <div class="container context pl-lg-5 ml-lg-3">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text">
                        @Html.Raw(Model.Sliderintro.Title)
                        <p class="text-black-50 d-none d-sm-block">
                            @Model.Sliderintro.Content
                        </p>
                    </div>
                    <div class="img">
                        <img src="~/img/@Model.Sliderintro.Image" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SLIDER END -->
    <!-- PRODUCTS START -->

    <section id="products">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 d-flex justify-content-between">
                    <ul class="category-mobile d-md-none list-unstyled">
                        <li>
                            <a href="" class="categories mr-2">Categories</a>
                            <i class="fas fa-caret-down"></i>
                            <ul class="category list-unstyled" style="display: none;">
                                <li><a href="" data-id="all">All</a></li>

                                @foreach (var ct in Model.Categories)
                                {
                                    <li><a href="" data-id="@ct.Name.ToLower()">@ct.Name</a></li>
                                }


                            </ul>
                        </li>
                    </ul>
                    <ul class="category d-none d-md-flex list-unstyled">
                        <li><a href="" data-id="all">All</a></li>
                        @foreach (var ct in Model.Categories)
                        {
                            <li><a href="" data-id="@ct.Name.ToLower()">@ct.Name</a></li>
                        }
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a href="" class="mr-2">Filter</a>
                            <i class="fas fa-caret-down"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">

                @foreach (var pr in Model.Products)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div class="product-item text-center" data-id="@pr.Category.Name.ToLower()">
                            <div class="img">
                                <a href="">
                                    <img src="~/img/@pr.Images.Where(p => p.IsMain == true).FirstOrDefault().Image" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="title mt-3">
                                <h6>@pr.Name</h6>
                            </div>
                            <div class="price">
                                <span class="text-black-50">Add to cart</span>
                                <span class="text-black-50">$@pr.Price</span>
                            </div>
                        </div>
                    </div>
                }

               
            </div>
        </div>
    </section>

    <!-- PRODUCTS END -->
    <!-- ABOUT START -->

    <section id="about">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-6">
                    <div class="img">
                        <img src="~/img/@Model.AboutMain.Image" class="img-fluid" alt="">
                        <div class="player position-absolute rounded-circle d-flex align-items-center justify-content-center">
                            <i class="fas fa-play fa-lg"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text mt-5 mt-lg-0 px-lg-5">
                        @Html.Raw(Model.AboutMain.Title)
                        <p class="py-3">
                            @Model.AboutMain.Content
                        </p>
                        <ul class="list-unstyled">

                            @foreach (var icon in Model.AboutIcon)
                            {
                                <li class="mt-3">
                                    <img src="~/img/@icon.Icon" class="mr-2" alt=""> @icon.Content
                                </li>
                            }


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT END -->
    <!-- EXPERTS START -->

    <section id="experts">
        <div class="container">
            <div class="row py-5">
                <div class="offset-lg-3 col-lg-6">
                    <div class="section-title">
                        <h1>@Model.ExspertTitle.Title</h1>
                        <p class="text-black-50">
                            @Model.ExspertTitle.Content
                        </p>
                    </div>
                </div>
            </div>
            <div class="row pb-5">

                @foreach (var exs in Model.Exsperts)
                {
                    <div class="col-md-6 col-lg-3">
                        <div class="item text-center">
                            <div class="img">
                                <img src="~/img/@exs.Image" class="img-fluid rounded-circle" alt="">
                            </div>
                            <div class="text mt-3">
                                <h6>@exs.Name</h6>
                                <p class="text-black-50">@exs.Job</p>
                            </div>
                        </div>
                    </div>
                }


                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </section>

    <!-- EXPERTS END -->
    <!-- SUBSCRIBE START -->

    <section id="subscribe">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-12">
                    <div class="content text-center py-5">
                        <h3>Join The Colorful Bunch!</h3>
                        <div class="form-group d-flex justify-content-center flex-wrap mt-5">
                            <input type="email" placeholder="Email Address" class="form-control-lg rounded-0">
                            <button class="btn btn-danger btn-lg rounded-0 px-5 mt-3 mt-sm-0">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SUBSCRIBE END -->
    <!-- BLOG START -->

    <section id="blog">
        <div class="container">
            <div class="row py-5">
                <div class="offset-lg-3 col-lg-6">
                    <div class="section-title">
                        <h1>@Model.BlogTitle.Title</h1>
                        <p class="text-black-50">
                            @Model.BlogTitle.Content
                        </p>
                    </div>
                </div>
            </div>
            <div class="row pb-5">

                @foreach (var blog in Model.Blogs)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="item">
                            <div class="img position-relative">
                                <img src="~/img/@blog.Image" class="img-fluid" alt="">
                                <div class="date rounded bg-light position-absolute py-1 px-2">
                                    <span>@blog.Date</span>
                                </div>
                            </div>
                            <div class="text mt-3 text-center px-5">
                                <h5>@blog.Title</h5>
                                <p class="text-black-50">
                                    @blog.Content
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>

    <!-- BLOG END -->
    <!-- SAY START -->

    <section id="say">
        <div class="container">
            <div class="row py-5 justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div class="owl-carousel say">

                        @foreach (var item in Model.Says)
                        {
                            <div>
                                <div class="item text-center">
                                    <div class="img d-flex justify-content-center">
                                        <img src="~/img/@item.Image" alt="">
                                    </div>
                                    <div class="text text-muted pt-3 pb-5">
                                        <i>
                                           @item.Content
                                        </i>
                                    </div>
                                    <div class="author">
                                        <h6>@item.Name</h6>
                                        <p class="text-black-50">@item.Job</p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SAY END -->
    <!-- INSTAGRAM START -->

    <section id="instagram">
        <div class="owl-carousel instagram">
            <div><img src="~/img/instagram1.jpg" class="img-fluid" alt=""></div>
            <div><img src="~/img/instagram2.jpg" class="img-fluid" alt=""></div>
            <div><img src="~/img/instagram3.jpg" class="img-fluid" alt=""></div>
            <div><img src="~/img/instagram4.jpg" class="img-fluid" alt=""></div>
            <div><img src="~/img/instagram5.jpg" class="img-fluid" alt=""></div>
            <div><img src="~/img/instagram6.jpg" class="img-fluid" alt=""></div>
            <div><img src="~/img/instagram7.jpg" class="img-fluid" alt=""></div>
            <div><img src="~/img/instagram8.jpg" class="img-fluid" alt=""></div>
        </div>
        <div class="hastag bg-light text-muted py-2 px-3">
            #FIORELLO
        </div>
    </section>

    <!-- INSTAGRAM END -->

</main>

