@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
    int count = 1;

}

    
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Categories</h4>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Category</th>
                                <th>Settings</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ct in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@ct.Name</td>
                                    

                                    <td>
                                        <a class="btn btn-info " asp-action="Detail" asp-route-id="@ct.Id">
                                            <i class="mdi mdi-eye"></i>
                                        </a>
                                        <a class="btn btn-success " asp-action="Update" asp-route-id="@ct.Id">
                                            <i class="mdi mdi-table-edit"></i>
                                        </a>
                                        <a class="btn btn-danger " asp-action="Delete" asp-route-id="@ct.Id">
                                            <i class="mdi mdi-delete-variant"></i>
                                        </a>
                                    </td>
                                </tr>
                                count++;
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
